html {
	background: url(fond.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 80%;
	margin: auto;
}

header, footer {
	background: rgba(65,120,150, 0.8);
	color: white;
	text-align: center;
	padding: 3%;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Times, serif;
	margin-top: 3%;
	margin-bottom: 1%;
}

a,
a:visited{
	color:#0066ff;
	text-decoration: none;
	font-weight: bold;
}

a:hover,
a:active {
	text-decoration: underline;
}

nav {
	background: rgb(65,120,150);
	font-size: 1.2em;
	text-align: center;
	padding: 3%;
}

nav a,
nav a:visited{
	color:#FFF;
	text-decoration: none;
	padding: 3%;
}

nav li a:hover{
	text-decoration: underline;
}

section {
	padding: 3%;
	background-color: #FFFFFF;
}

footer a,
footer a:visited {
	color: #9FF;
}

nav, footer {
	border-top: 6px dashed #e7a61a;
}

/*******************************************************************************
* Listing
*/

dl {
	margin-bottom: 3%;
	border-top: 2px dashed #AAA;
	padding-top: 1%;
}

dt {
	font-weight: bold;
	font-size: 1.2em;
}

dd {
	margin-left: 10%;
	text-align: justify;
}

/*******************************************************************************
* Blog
*/

.blogSummary img{
	max-width: 100px;
	max-height : 80xp;
	display: inline-block;
}

.blogSummary p{
	display: inline-block;
	width: 70%;
}

.blogArticleHead {
	background-color: rgba(240, 240, 240, 0.9);
	padding: 3%;
}

.blogArticleHeadOut h1 {
	font-size: 1.7em;
}

.blogArticleHeadOut h3 {
	font-size: 1.6em;
}

.blogArticleHeadOut h2,
.blogArticleHeadOut h3 {
	background-color: rgba(240, 240, 240, 0.96);
	padding: 3%;
	margin: 0;
}

.blogArticleHead img,
.blogArticleHead aside  {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.blogArticleHead aside  {
	padding: 3%;
}

.blogArticleContent {
	padding-top: 2%;
}

.blogArticleContent h1 {
	font-weight: bold;
	font-size: 1.6em;
}

.blogArticleContent h2 {
	text-align: left;
	font-size: 1.4em;
}

.blogArticleContent img {
	max-width: 100%;
	max-height: 500px;
}

/*******************************************************************************
*  Yieldown special
*/
.mykeyword {
	font-family: cursive;
	font-style: italic;
	color: rgb(97,190,255);
	font-weight: bold;
}
