
/*******************************************************************************
* COMMON
*/
body {
	background-color: #000000;
	color:#FFFFFF;
	padding: 2%;
	font-family: sans-serif;
}

h1, .msg {
	text-align: center;
	border: 2px solid #00cc99;
	border-width: 2px 0;
	margin-bottom: 50px;
}

h2 {
	border-bottom: 2px solid #00cc99;
	width: auto;
	margin-top: 50px;
	margin-bottom: 5px;
}

a {
	color:lightblue;
}

em.tdd {
	color:#00cc99;
}

/*******************************************************************************
* Notification Message
*/
.msg {
	background-color: #DDD;
	border-width: 7px 0;
	padding: 3px;
	color:#000;
	font-weight: bold;
}

.msgOk {
	border-color: lime;
}

.msgKo {
	border-color: red;
}

/*******************************************************************************
* Data listing table Message
*/
#dataListing {
	width:100%;
	border-collapse:collapse;
	white-space: nowrap;
}

#dataListing td {
	padding:3px;
}

#dataListing tr.subhead {
	border-top: solid 25px black;
	background-color: black;
	border-bottom: solid 5px black;
}

#dataListing tr.folder {
	background-color: #ddffe4;
	color: black;
}

#dataListing tr.file {
	background-color: #FFF;
	color: black;
}

#dataListing td.title {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 5px #00cc99;
}

#dataListing tr.subhead td.desc {
	font-size: 0.9em;
	white-space: normal;
	border-bottom: solid 5px black;
}

#dataListing td.fileName {
	padding-left: 2%;
	font-family: monospace;
}

/*******************************************************************************
* Actiosn and Buttons
*/

.action {
	text-align: right;
}

ul#actions li {
	margin-bottom: 15px;
}

.btn {
	border: 2px outset #F5F5F5;
	background-color: #DDD;
	display: inline-block;
	padding: 2px;
	border-radius: 1px;
	color:black;
	text-decoration: none;
	margin-right: 3px;
}

.btn:hover {
	border-color:black;
	cursor:pointer;
}

.btnDelete:hover {
	color:red;
	border-color:red;
}

.btn:active {
	background-color: #FFF;
}

/*******************************************************************************
* Other
*/
#helpBox {
	margin-left: 10%;
	border-left: 5px solid #00cc99;
	padding: 5px;
	font-size: 0.9em;
	background-color: #444;
	max-height: 300px;
	overflow: auto;
}

footer {
	border-top: 2px solid #00cc99;
	margin-top: 10%;
	font-size: 0.8em;
	text-align: center;
	padding: 5px;
}
